<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student">


	<!-- 학생 개인정보 관리 -->
	<select id="studentSelect" parameterType="int"
		resultType="com.mystudy.college.model.vo.StudentVO">
		SELECT *
		FROM STUDENT
		WHERE st_id = #{st_id }
	</select>

	<!-- 학생 개인정보 수정 -->
	<update id="studentUpdate"
		parameterType="com.mystudy.college.model.vo.StudentVO">
		UPDATE STUDENT
		SET
		ST_PWD = #{st_pwd },
		ST_MOBILE= #{st_mobile },
		ST_PHONE = #{st_phone },
		ST_EMAIL=#{st_email },
		ST_ADDR = #{st_addr }
		WHERE ST_ID = #{st_id }
	</update>

	<!-- 학생 성적 조회  -->
	<select id="stuRegiAll" parameterType="int"
		resultType="com.mystudy.college.model.vo.RegiSubVO">

		SELECT RE.RE_TERM, RE.RE_SCORE, RE.RE_GRADE, SU.SUB_NAME, SU.SUB_CODE
		FROM REGISTRATION RE JOIN SUBJECT SU
			ON RE.SUB_CODE = SU.SUB_CODE
		WHERE RE.ST_ID = #{st_id }
		ORDER BY RE.SUB_CODE, RE.RE_TERM

	</select>

	<resultMap type="SubjectVO" id="subjectMap">
		<id column="sub_code" property="sub_code" />
		<result column="sub_name" property="sub_name" />
		<result column="sub_level" property="sub_level" />
		<result column="sub_credit" property="sub_credit" />
		<result column="sub_day" property="sub_day" />
		<result column="sub_time" property="sub_time" />
		<result column="sub_class" property="sub_class" />
		
		<!-- 1 : 다 관계의 경우 데이터 매핑시켜준다. 
			association => 1 : 1 관계 
			collection => 1 : 다 관계 (한명의 유저가 작성한 글 목록)
			일반 컬럼과 pk 구분 가능 pk 칼럼에게는 result 아닌 id 사용
		-->
		<association javaType="RegistrationVO" property="RegistrationVO">
			<result column="re_term" property="re_term"/>
			<result column="re_score" property="re_score"/>
			<result column="re_grade" property="re_grade"/>
			<result column="sub_code" property="sub_code"/>
			<result column="st_id" property="st_id"/>
		</association>
	</resultMap>
	
	<select id="subjectRegSelectAll"
			 resultMap="subjectMap">
		SELECT	*
		FROM	SUBJECT S
				, REGISTRATION R
		WHERE	R.SUB_CODE = R.SUB_CODE
		
	</select>
	<select id="sub_selectAll" resultType="SubjectVO">
		SELECT * FROM SUBJECT ORDER BY SUB_CODE DESC
	</select>
	
	<insert id="reg_insert" parameterType="RegistrationVO">
		INSERT INTO REGISTRATION VALUES(#{re_term},
										#{re_score},
										#{re_grade},
										#{sub_code},
										#{st_id})
	</insert>
	
	<select id="reg_select" parameterType="RegistrationVO" resultType="RegistrationVO">
		SELECT * FROM REGISTRATION WHERE ST_ID = #{st_id} ORDER BY SUB_CODE
	</select>
	
	<select id="sub_select" parameterType="SubjectVO" resultType="SubjectVO">
		SELECT * FROM SUBJECT WHERE SUB_CODE = #{sub_code} ORDER BY SUB_CODE
	</select>
</mapper>







